.section__padding {
    padding: 2rem 2rem; /* Reduced padding */
}

.footer {
    background-color: #f4f4f6;
    padding: 2rem; /* Reduced padding */
    margin-top:5rem; /* Adjusted margin-top */
    height: auto; /* Set height to auto to adjust based on content */
    width: 100%; /* Set width to 100% */
    box-sizing: border-box;
}

.sb__footer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sb__footer-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
    margin-bottom: 1rem; /* Reduced margin-bottom */
}

.sb__footer-links_div {
    flex: 1; /* Allow divs to flex */
    margin: 0.5rem; /* Reduced margin */
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: #555;
    min-width: 150px; /* Minimum width for the columns */
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

p {
    color: #000000;
}

.socialmedia {
    display: flex;
    flex-direction: row;
}

.socialmedia img {
    width: 80%;
}

.sb__footer-links_div h4 {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 0.5rem; /* Reduced margin-bottom */
    color: #555;
}

.sb__footer-links_div p {
    font-size: 12px;
    line-height: 15px;
    margin: 0.3rem 0; /* Reduced margin */
    cursor: pointer;
    color: #555;
}

.sb__footer-below {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.5rem; /* Reduced margin-top */
    width: 100%;
    box-sizing: border-box;
}

.sb__footer-below-links {
    display: flex;
    flex-direction: row;
    color: #555;
}

.sb__footer-below-links p {
    font-size: 13px;
    line-height: 15px;
    margin-left: 1rem; /* Reduced margin-left */
    color: #555;
    font-weight: 600;
}

hr {
    color: #555 !important;
    width: 100%;
}

.sb__footer-copyright p {
    font-size: 13px;
    line-height: 15px;
    color: #555;
    font-weight: 600;
}

@media screen and (max-width: 850px) {
    .sb__footer-heading h1 {
        font-size: 44px;
        line-height: 50px;
    }
}

@media screen and (max-width: 550px) {
    .sb__footer-heading h1 {
        font-size: 34px;
        line-height: 42px;
    }

    .sb__footer-links_div {
        margin: 1rem 0;
        color: #555;
    }

    .sb__footer-btn p {
        font-size: 14px;
        line-height: 20px;
    }

    .sb__footer-below {
        flex-direction: column;
        justify-content: left;
    }

    .sb__footer-below-links {
        flex-direction: column;
    }

    .sb__footer-below-links p {
        margin-left: 0rem;
        margin-top: 1rem;
    }
}

@media screen and (max-width: 400px) {
    .sb__footer-heading h1 {
        font-size: 27px;
        line-height: 38px;
    }
}
